


body{
    font-family:sans-serif;
    font-size: 16px;
} html{
    padding: 0%;
    margin: 0;
    
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    padding: 20px;
   
  }

.left-nav{
    display: flex;
    justify-content: left;
}
.right-nav{
    display: flex;
    justify-content: right;
    gap: 10px;
}

.nav-btn{
    background:none;
    border: none;
    color: black;
    border-radius: 10px;
    
}
.nav-btn:hover{
    background-color: hsl(238, 22%, 44%);
    cursor: pointer;
}
.sect1{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 50px;
    padding: 20px;
    align-items:normal;
    gap: none;
    

}
.s1{
    margin-bottom: 0%;
    line-height: 1.5;
}
.sect1-1{
    display: flex;
    flex-direction:column;
    justify-content: center;


}
#cred{
    width: 300px;
    height: 25px;
}

.f1{
    display: flex;
    gap: 10px;
}
.Submit{
    width: 150px;
    height: 30px;
    background-color: hsl(224, 93%, 58%);
    border: none;
    border-radius: 5px;
    color: hsl(240, 75%, 98%);
}
.Submit:hover{
    cursor:pointer;
    background-color: lightblue;

}
.Submit-2:hover{
    cursor:pointer;
    background-color: lightblue;

}

.sect1-img{
    display: flex;
    float: right;

}
.img1{
    width:500px;
    height: 400px;
}


.sect2{
    background-image: url(images/bg-curve-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 50px;
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: nowrap;
}
.par1{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0%;
}
.par2{
    font-size: 16px;
    line-height: 1.5;
}
#link1{
    margin-bottom: 50px;
    color: hsl(170, 45%, 43%);
    border-bottom: hsl(170, 45%, 43%);
}
#link:hover{
    cursor: pointer;
    background-color:lightgreen;
    border-bottom: lightgreen;
}
.sect2-21{
    display: flex;
    flex-direction: column;
    
}
.sect2-22{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    max-width: 75%;
    font-size: 17px;
    line-height: 1.5;
    font-weight: 500px;
}
.quotes{
    width: 25px;
    height: 25px;
}
.Kyle{
    display: flex;
    flex-direction: row;
    gap: 10px;

}
.kyleimg {
    width: 32px;
    height: 32px;
    border-radius: 50px;
}
.details{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    line-height: 0%;
}
.illustration-2{
    display: flex;
    align-items: center;
}
.illustration-2img{
    width: 500px;
    height: 400px;
}
.header{
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    color: hsl(243, 87%, 12%);
}


.sect3{
    padding: 10px;
    background-color: hsl(238, 22%, 44%);
    color: hsl(240, 75%, 98%);
    display: flex;
    justify-content:space-between;
    
}
.access{
    display: flex;
    flex-direction: column;
}
.Get{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}
#email-input{
    margin-bottom: 10px;
    height: 40px;
    width: 380px;
    border-radius: 5px;
    border: none;
}
.Submit-2{
    background-color: hsl(224, 93%, 58%);
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 5px;
    color: hsl(240, 75%, 98%);
}

.sect4{
    display: flex;
    flex-direction: row;
    gap:100px;
    background-color: hsl(243, 87%, 12%);
    color: hsl(240, 75%, 98%);
    font-size: 15px;
    justify-content: space-between;
    padding: 40px;
}
.Contact{
    display: flex;
    flex-direction: column;
    color: hsl(240, 75%, 98%);


}
.sect4-42{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-end;
}
.cont{
    background: none;
    color: hsl(240, 75%, 98%);
    border: none;
    border-radius: 10px;
}
.sect4-43{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}
.cont:hover{
    color: hsl(224, 93%, 58%);
    cursor: pointer;
}
.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
   
}
.insta{
    width:32px;
    height:32px;
}
.insta:hover{
    background-color:hsl(238, 22%, 44%);
    cursor: pointer;
    border-radius: 50px;
}
.x:hover{
    background-color:hsl(238, 22%, 44%);
    cursor: pointer;
    border-radius: 50px;
}
.fb:hover{
    background-color:hsl(238, 22%, 44%);
    cursor: pointer;
    border-radius: 50px;
}
.x{
    width:20px;
    height:20px;
}
.fb{
    width:32px;
    height:32px;
}
.nbr{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.email{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.phn{
    width: 15px;
    height: 32px;
}
.icon-email{
    width: 15px;
    height: 32px;
}
.logo{
    width:7vw;
    height: auto;
}
.Kyle:nth-child(){
    align-self: center;
}
.par4{
    color: hsl(238, 22%, 44%);
    font-size: 14px; 
}

@media screen and (min-width:320px) {
    .logo{
        
        width:50px;
    }
    .nav{
        justify-content: space-evenly;
    }
    .right-nav{
        gap: 10px;
    }
    .sect1{
        flex-direction: column-reverse;
        
        margin: 5px;
    }
    .img1{
        width:200px;
        height: 150px;
    }
    .header{
        font-size: 20px;
        display: flex;
        align-items: center;
    }
    .s1{
        display: flex;
        align-items: center;
    }
    .par{
        color: hsl(243, 87%, 12%);
        font-size: 13px;
        font-weight: 800px;
        line-height: 1.5;
    }
    .f1{
        flex-direction: column;
        align-items: center;
    }
    #cred{
        width: 250px;
        border-radius: 3px;
        border-color: hsl(243, 87%, 12%);
    }
    .Submit{
        width: 260px;
    }
    .sect2{
        flex-direction: column-reverse;
        
    }
    .illustration-2img{
        width:200px;
        height: 150px;
    }
    .he2{
        font-size: 14px;
        margin-top: 25px;
        margin-left: 0%;
    }
    .par1{
        display: flex;
        color: hsl(238, 22%, 44%);
        font-size: 14px;
    }
    .par2{
        color: hsl(238, 22%, 44%);
        font-size: 14px;
    }
    #link1{
        display: flex;
        
        align-items: center;
        justify-content: center;
    }
    .sect2-22{

        max-width: none;
        margin: none;
        width: 150px;
        padding: 15px;
        max-height: 20%;
    }
    .quotes{
        width: 15px;
        height: 15px;
    }
    .par3{
        color: hsl(238, 22%, 44%);
        font-size: 14px;  
    }
    .he3{
        font-size: 13px;

    }
    .par4{
        color: hsl(238, 22%, 44%);
        font-size: 7px;
        display: flex;
    }
    .sect3{
        flex-direction: column;
        
        

    }
    .header-3{
        font-size: 15px;
        display: flex;
    }
    #email-input{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 220px;
    }
    .Submit-2{
        width: 225px;
    }
    .par5{
        font-size: 12px;
        line-height: 1.5;
        display: flex;
        width: 200px;
        align-items: center;
        justify-content: center;
    }
    .sect4{
        flex-direction: column;
    }
    .sect4-42{
        align-items: flex-start;
    }
    .sect4-43{
        align-items: flex-start;
    }
    .icons{
        justify-content: center;
    }
    .logo-2{
        width: 100px;
        height: 40px;
        margin-bottom: 10px;
    }
    .phn {

        height: 20px;
    }
    .icon-email{
        height: 20px;
    }
    .access{
        justify-content: center;
        align-items: center;
        margin: 0px;
    }
    .Get{
        align-items:stretch;
        align-content: center;
    }  
}
